@page "/films"
@using CRUD.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Socios</h3>

@if (_films == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>Usuario</th>
                <th>Clave</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in _films)
            {
                <tr>
                    <td>@film.Id</td>
                    <td>@film.NombreCompleto</td>
                    <td>@film.usuario</td>
                    <td>@film.clave</td>
                    <td>@film.celular</td>
                    <td>@film.Email</td>
                    <td>
                        <button class="btn btn-info"
                                @onclick="(() => Edit(film.Id))">
                            Editar
                        </button>
                        <button class="btn btn-danger"
                                @onclick="(() => Delete(film.Id))">
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button class="btn btn-success" @onclick="Create">Añadir socio</button>
    </div>
}

@code {
    private List<Film> _films;

    protected override async Task OnInitializedAsync()
    {
        _films = await Http.GetFromJsonAsync<List<Film>>("/api/Films");
    }

    private async Task Delete(int id)
    {
        await Http.DeleteAsync($"/api/Films/{id}");
        _films = await Http.GetFromJsonAsync<List<Film>>("/api/Films");
        StateHasChanged();
    }

    private void Edit(int id)
    {
        Navigation.NavigateTo($"/film/edit/{id}");
    }

    private void Create()
    {
        Navigation.NavigateTo("/film/create");
    }
}

